<div>
  <ngb-tabset>
    <ngb-tab title="URL">
      <ng-template ngbTabContent>
        <load-url-form></load-url-form>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Yaml/Json-File">
      <ng-template ngbTabContent>
        <p>Not yet implemented!</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Zip-File">
      <ng-template ngbTabContent>
        <p>Not yet implemented!</p>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>
<app-compare-result></app-compare-result>


